@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is going to be so funny!</p>
    <p> MVC is not a language, it is a design pattern. </p>
</div>


